body{
    margin: auto;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    
}
#upperH5{
    color: #43BA7F;
    font-weight: 400;
}
#lowerH5{
    color: #8B8B8B;
    font-weight: 400;
}
h3{
    font-weight: 400;
}
#blogImg{
    width: 100%;
    border-radius: 8px;
}
.blogCard{
    margin-top: 50px;
    width: 700px;
}
.text{
    padding:0px 40px
}